testnet.log
devnet.log
tru-devnet/accounts.json
tru-devnet/pwd.sec
tru-devnet/geth.ipc
tru-devnet/geth/**
tru-devnet/keystore/**
node_modules/**
build/**
contracts/supporting/zeppelin/**
coverage/**
devnet.log
allFiredEvents
coverage-testnet.log

coverage.json
